# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [83]:
a = [1,2,3,4,5,6,7,8,9,10]
a[0:11]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Append to the list the number 20

In [84]:
a.append(20)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

3. Insert two zeros after the fourth place of the list

In [85]:

a.insert(4,0)
a.insert(5,0)
a

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

4. Sort the list in reverse order

In [86]:
a.sort(reverse=True)
a

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0]

5. Remove the last two items from the list

In [87]:
a.pop()
a.pop()
a

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

6. Invert the order of the list

In [88]:
a.reverse()
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

7. How many items has the list?

In [97]:
len(a)

11

8. Give the minimum, maximum and the sum of all the items in the list

In [99]:
print (min(a),max(a),sum(a))

1 20 75

9. What will happen if you multiply the list by 2?

In [100]:
print (a * 2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

10. Can you divide the list by 3?

In [101]:
print (a / 3)

TypeError: unsupported operand type(s) for /: 'list' and 'int'

# Tupples
 
1. Create a tupple with three characters and four numbers

In [152]:
t = ('A','B','C',1,2,3,4)
t

('A', 'B', 'C', 1, 2, 3, 4)

2. Append two booleans (false, true) to the tupple

In [153]:
t = t + (False,True)
t

('A', 'B', 'C', 1, 2, 3, 4, False, True)

3. Retrieve the third to sixth items from the tupple

In [116]:
print (t[2:6])

('C', 1, 2, 3)

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [159]:
tint = []
tstr = []
tbool = []
for w in t:
    if(isinstance(w,bool)):
        tbool.append(w)
    elif(isinstance(w,int)):
        tint.append(w)
        print(tint)
    elif(isinstance(w,str)):
        tstr.append(w)
    else:
        print("%s is of %s" % (w,type(w)))
        
print (tint, tstr, tbool)
tint, tstr, tbool

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4] ['A', 'B', 'C'] [False, True]

([1, 2, 3, 4], ['A', 'B', 'C'], [False, True])

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [167]:
s = "Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
sp = s.split()
spl = set(sp)
spl

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'object.',
 'of',
 'original',
 'that',
 'the',
 'values'}

In [170]:
set("Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object".split())

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'object.',
 'of',
 'original',
 'that',
 'the',
 'values'}

2. Do you see something wierd in this set? What? How can you prevent that?

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [204]:
dic = ([{'Phone': '030-223.65.44','Position': 'Sales Manager','Name':'Harry Smith','EmployeeID':'1020'},{'Phone':'030-223.64.12','Position': 'Sales Representative','Name':'Margaret Holsum','EmployeeID':'2201'},{'Phone': '030-223.83.33','Position': 'Human Resources','Name':'Lasly Howard','EmployeeID':'3320'}])
dic

[{'Phone': '030-223.65.44',
  'Position': 'Sales Manager',
  'Name': 'Harry Smith',
  'EmployeeID': '1020'},
 {'Phone': '030-223.64.12',
  'Position': 'Sales Representative',
  'Name': 'Margaret Holsum',
  'EmployeeID': '2201'},
 {'Phone': '030-223.83.33',
  'Position': 'Human Resources',
  'Name': 'Lasly Howard',
  'EmployeeID': '3320'}]

In [ ]:
dic = ({'Phone':['030-223.65.44','030-223.64.12'],

In [192]:
dic1 = {'Phone': '030-223.65.44','Position': 'Sales Manager','Name':'Harry Smith','EmployeeID':'1020'}
dic1

{'Phone': '030-223.65.44',
 'Position': 'Sales Manager',
 'Name': 'Harry Smith',
 'EmployeeID': '1020'}

1. Get all the keys of the dictionary

In [202]:
dic1.keys()

dict_keys(['Phone', 'Position', 'Name', 'EmployeeID'])

2. Get all the values of the dictionary

In [203]:
dic1.values()

dict_values(['030-223.65.44', 'Sales Manager', 'Harry Smith', '1020'])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [ ]:
y = 0
for x in range(100):
    if x/2
    if(y / 2 > 200):
        break
    if(y % 2 == 0):
        print(y, 'divide exactly by 2', ' = ', y//2)
    else:
        print(y, 'is not multiple of 2')

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [ ]:
for i in range(5,10):
    print(i)