# Python Intro - Final Exercise

In [39]:
import pyodbc
import pandas as pd
import numpy as np

In [36]:
### In windows, Using a ODBC DNS (predefined connection name)
import pyodbc
conn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=DESKTOP-N6AVJGE\SQLEXPRESS;"
                      "Database=COLLEGE;"
                      "Trusted_Connection=yes;")

In [29]:
import pyodbc 
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=DESKTOP-N6AVJGE\SQLEXPRESS;"
                      "Database=COLLEGE;"
                      "Trusted_Connection=yes;")

In [37]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM Students')

for row in cursor:
    print('row = %r' % (row,))

row = (162.0, ' Elmira', 'Holston', 'F')
row = (154.0, ' Sierra', 'Van Vorst', 'F')
row = (28.0, ' Mycah', 'Bingham', 'F')
row = (54.0, ' Alia', 'Jones', 'F')
row = (31.0, ' Chanda', 'Fillmore', 'F')
row = (272.0, ' Jennifer', 'Smith', 'F')
row = (266.0, ' Maria', 'Gaddis', 'F')
row = (259.0, ' Taiahbeth', 'Gerard', 'F')
row = (101.0, ' Dakota', 'Iiams', 'F')
row = (171.0, ' Emma', 'Gellatly', 'F')
row = (94.0, ' Cydney', 'Petersen', 'F')
row = (210.0, ' Breanna', 'Lightcap', 'F')
row = (76.0, ' Caitlyn', 'Austin', 'F')
row = (92.0, ' Jenny', 'Vanmeter', 'F')
row = (80.0, ' Mckenna', 'Yoswa', 'F')
row = (265.0, ' Hannah', 'Anttila', 'F')
row = (105.0, ' Hannah', 'Wilkes', 'F')
row = (196.0, ' Rebecca', 'Bruch', 'F')
row = (177.0, ' Tamara', 'Webber', 'F')
row = (141.0, ' Marissa', 'Karsten', 'F')
row = (124.0, ' Shawna', 'East', 'F')
row = (197.0, ' Abbey', 'Singley', 'F')
row = (121.0, ' Corine', 'Hitch', 'F')
row = (2.0, ' Cassie', 'Liska', 'F')
row = (225.0, ' Megan', 'Edwards', 'F')
row = (97.0, ' Amanda', 'Thomas', 'F')
row = (79.0, ' Desiree', 'Baum', 'F')
row = (190.0, ' Krista', 'Steigerwald', 'F')
row = (110.0, ' Ashleigh', 'Conder', 'F')
row = (198.0, ' Bibiana', 'Tonkin', 'F')
row = (179.0, ' Asia', 'Roberts', 'F')
row = (251.0, ' Heather', 'Williams', 'F')
row = (11.0, ' Rachael', 'Williams', 'F')
row = (42.0, ' Melissa', 'Crespin', 'F')
row = (70.0, ' Kathryn', 'Olson', 'F')
row = (36.0, ' Sarah', 'Sampson', 'F')
row = (131.0, ' Brooke', 'Stimpson', 'F')
row = (240.0, ' Katherine', 'Reid', 'F')
row = (32.0, ' Mikaela', 'Anderson', 'F')
row = (215.0, ' Sarah', 'Lodl', 'F')
row = (56.0, ' Shelby', 'Robinson', 'F')
row = (123.0, ' Kelsi', 'Taber', 'F')
row = (194.0, ' Elizabeth', 'Collins', 'F')
row = (136.0, ' Eve', 'Wells', 'F')
row = (233.0, ' Alyssa', 'Zarazua', 'F')
row = (184.0, ' Hailey', 'Nolke', 'F')
row = (181.0, ' Samantha', 'Wright', 'F')
row = (9.0, ' Madalyn', 'Miller', 'F')
row = (113.0, ' Emily', 'Derr', 'F')
row = (156.0, ' Alexis', 'Cruse', 'F')
row = (152.0, ' Savanna', 'Crochet', 'F')
row = (23.0, ' Angela', 'Palermo', 'F')
row = (3.0, ' Hayley', 'Frank', 'F')
row = (140.0, ' Kayla', 'Beard', 'F')
row = (22.0, ' Alexandrea', 'Hannafious', 'F')
row = (176.0, ' Ceanna', 'Cimino', 'F')
row = (279.0, ' Samantha', 'Berend', 'F')
row = (234.0, ' Adrianna', 'Bean', 'F')
row = (1.0, ' Alexandria', 'Heller', 'F')
row = (200.0, ' Elizabeth', 'Nelson', 'F')
row = (39.0, ' Kayli', 'May', 'F')
row = (12.0, ' Sophiya', 'Aponte', 'F')
row = (89.0, ' Megan', 'Gerber', 'F')
row = (241.0, ' Kaitlyn', 'Tuttle', 'F')
row = (230.0, ' Heather', 'Bretz', 'F')
row = (106.0, ' Alyssa', 'Cox', 'F')
row = (59.0, ' Erika', 'Schilling', 'F')
row = (187.0, ' Sabrina', 'Mcclure', 'F')
row = (270.0, ' Brooke', 'Bishop', 'F')
row = (166.0, ' Hailey', 'Landeros', 'F')
row = (211.0, ' Heather', 'Franz', 'F')
row = (274.0, ' Samantha', 'Anderson', 'F')
row = (72.0, ' Hallie', 'Lockhart', 'F')
row = (173.0, ' Natalie', 'Pridemore', 'F')
row = (157.0, ' Cheyenne', 'Shawver', 'F')
row = (170.0, ' Tarah', 'Gunnett', 'F')
row = (41.0, ' Allison', 'Otey', 'F')
row = (189.0, ' Jean', 'Brown', 'F')
row = (16.0, ' Anina', 'Meneses', 'F')
row = (20.0, ' Darby', 'Cobb', 'F')
row = (129.0, ' Emily', 'Taylor', 'F')
row = (132.0, ' Ellen', 'Einhellig', 'F')
row = (164.0, ' Laurie', 'Kelso', 'F')
row = (168.0, ' Alyssa', 'Grounds', 'F')
row = (34.0, ' Caitlin', 'Guthrie', 'F')
row = (232.0, ' Victoria', 'Kishinevsky', 'F')
row = (100.0, ' Kelsie', 'Straus', 'F')
row = (77.0, ' Brooke', 'Sandrock', 'F')
row = (116.0, ' Kara', 'Morago', 'F')
row = (52.0, ' Estell', 'Roche', 'F')
row = (91.0, ' Natalie', 'Backlund', 'F')
row = (142.0, ' Jennifer', 'Jones', 'F')
row = (145.0, ' Kaylin', 'Jonseof', 'F')
row = (275.0, ' Elise', 'Ohler', 'F')
row = (117.0, ' Charlotte', 'Krimstock', 'F')
row = (174.0, ' Anna', 'Cain', 'F')
row = (128.0, ' Caitlyn', 'Simmons', 'F')
row = (40.0, ' Kira', 'Dowswell', 'F')
row = (153.0, ' Mercede', 'Cawthorne', 'F')
row = (21.0, ' Kayla', 'Cameron', 'F')
row = (57.0, ' Erin', 'Collins', 'F')
row = (250.0, ' Robin', 'Golbus', 'F')
row = (263.0, ' Kara', 'Sedlak', 'F')
row = (84.0, ' Alyx', 'Hufford', 'F')
row = (133.0, ' Julia', 'Lamont', 'F')
row = (254.0, ' Victoria', 'Wert', 'F')
row = (120.0, ' Alissa', 'Marsh', 'F')
row = (10.0, ' Katrina', 'Miller', 'F')
row = (45.0, ' Monica', 'Craig', 'F')
row = (256.0, ' Kristina', 'Heline', 'F')
row = (119.0, ' Raeanne', 'Mcguire', 'F')
row = (134.0, ' Jenna', 'Swindler', 'F')
row = (88.0, ' Maia', 'Kassem', 'F')
row = (278.0, ' Sydney', 'Blas', 'F')
row = (86.0, ' Alyssa', 'Fabian', 'F')
row = (51.0, ' Kiana', 'Wilson', 'F')
row = (102.0, ' Mercedes', 'Coyle', 'F')
row = (25.0, ' Morgan', 'Wikowsky', 'F')
row = (243.0, ' Haley', 'Mcguire', 'F')
row = (231.0, ' Malena', 'Wofford', 'F')
row = (96.0, ' Danielle', 'Smotherman', 'F')
row = (180.0, ' Erin', 'Johnson', 'F')
row = (95.0, ' Kaily', 'Omerigic', 'F')
row = (163.0, ' Danika', 'Gordon', 'F')
row = (229.0, ' Shelby', 'Lucio', 'F')
row = (221.0, ' Tamera', 'Engel', 'F')
row = (118.0, ' Molly', 'Galasso', 'F')
row = (144.0, ' Elizabeth', 'Maliszewski', 'F')
row = (191.0, ' Sarah', 'Bencomo', 'F')
row = (209.0, ' Ashley', 'Cannon', 'F')
row = (220.0, ' Rachel', 'Halbert', 'F')
row = (182.0, ' Madison', 'Rutherford', 'F')
row = (245.0, ' Mariah', 'Fox', 'F')
row = (207.0, ' Samantha', 'Trice', 'F')
row = (175.0, ' Macey', 'Wilson', 'F')
row = (114.0, ' Nichole', 'Fisher', 'F')
row = (247.0, ' Michaela', 'Anderson', 'F')
row = (271.0, ' Mckayla', 'Greaser', 'F')
row = (104.0, ' Jaquelyn', 'Borcic', 'F')
row = (208.0, ' Alicia', 'Schlichting', 'F')
row = (126.0, ' Jane', 'Breidt', 'F')
row = (202.0, ' Autumn', 'Major', 'F')
row = (260.0, ' Samantha', 'Untiedt', 'F')
row = (224.0, ' Becka', 'Kitchen', 'F')
row = (147.0, ' Melissa', 'Harman', 'F')
row = (7.0, ' Katrina', 'Evers', 'F')
row = (65.0, ' Julieann', 'Walker', 'F')
row = (199.0, ' Ashton', 'Dixon', 'F')
row = (14.0, ' Rossi', 'Panelli', 'F')
row = (69.0, ' Kaitlyn', 'Brown', 'F')
row = (85.0, ' Alyssa', 'Thornton', 'F')
row = (183.0, ' Ashley', 'Walkey', 'F')
row = (15.0, ' Catherine', 'Sturgeon', 'F')
row = (6.0, ' Chelsea', 'Vuolo', 'F')
row = (268.0, ' Lauren', 'Salazar', 'F')
row = (219.0, ' Ashley', 'Beziou', 'F')
row = (252.0, ' Kori', 'Roper', 'F')
row = (267.0, ' Catherine', 'Lemme', 'F')
row = (150.0, ' Emily', 'Beach', 'F')
row = (226.0, ' Kalyn', 'Schroeder', 'F')
row = (214.0, ' Katelyn', 'Miller', 'F')
row = (67.0, ' Valerie', 'Dyer', 'F')
row = (206.0, ' Rachel', 'Westcott', 'F')
row = (24.0, ' Sarah', 'Reilly-Vessey', 'F')
row = (146.0, ' Brighid', 'Hoenig', 'F')
row = (122.0, ' Fisher', 'Harper', 'M')
row = (258.0, ' Christian', 'Boucher', 'M')
row = (195.0, ' Zachary', 'Yeager', 'M')
row = (35.0, ' Wolfgang', 'Sinski', 'M')
row = (18.0, ' Austin', 'Power', 'M')
row = (127.0, ' Andrew', 'Holiday', 'M')
row = (149.0, ' Alec', 'Miller', 'M')
row = (37.0, ' Trevor', 'Cook', 'M')
row = (165.0, ' Austin', 'Norris', 'M')
row = (5.0, ' Dylan', 'Boehm', 'M')
row = (185.0, ' Christopher', 'Patzoldt', 'M')
row = (66.0, ' Bryce', 'Unger', 'M')
row = (151.0, ' Eric', 'Haggard', 'M')
row = (169.0, ' Patrick', 'Hinds', 'M')
row = (148.0, ' Cody', 'Malacarne', 'M')
row = (158.0, ' Mitchell', 'Fellhauer', 'M')
row = (75.0, ' Samuel', 'Sellers', 'M')
row = (244.0, ' Kyle', 'Albarelle', 'M')
row = (30.0, ' Kyle', 'Nibbelink', 'M')
row = (227.0, ' Shepherd', 'Gillham', 'M')
row = (238.0, ' Jesse', 'Williamson', 'M')
row = (255.0, ' Derrick', 'Mayberry', 'M')
row = (280.0, ' Matthew', 'Mcgrath', 'M')
row = (107.0, ' Gordon', 'Martensen', 'M')
row = (277.0, ' Bryan', 'Medina', 'M')
row = (249.0, ' Benjamin', 'Schott', 'M')
row = (82.0, ' Andrew', 'Porter', 'M')
row = (49.0, ' Kyle', 'Bartels', 'M')
row = (130.0, ' Cory', 'Packard', 'M')
row = (192.0, ' Gunnar', 'Abdulbaki', 'M')
row = (33.0, ' Chance', 'Bittle', 'M')
row = (186.0, ' Shaun', 'Krasovic', 'M')
row = (217.0, ' Samuel', 'Pohlman', 'M')
row = (276.0, ' Dylan', 'Bannister', 'M')
row = (74.0, ' Wyatt', 'Maus', 'M')
row = (115.0, ' Justin', 'Greenhalge', 'M')
row = (213.0, ' Clifford', 'Coon', 'M')
row = (17.0, ' Cody', 'Dawkins', 'M')
row = (235.0, ' Justin', 'Sauerland', 'M')
row = (253.0, ' Ruben', 'Mosher', 'M')
row = (60.0, ' Zachary', 'Storey', 'M')
row = (112.0, ' Dallas', 'Moyer', 'M')
row = (212.0, ' Liam', 'Degenhardt', 'M')
row = (242.0, ' Alex', 'Mandel', 'M')
row = (160.0, ' Tyler', 'Menard', 'M')
row = (53.0, ' Chase', 'Thorstensen', 'M')
row = (264.0, ' Mitchell', 'Fiore', 'M')
row = (87.0, ' David', 'Heffron', 'M')
row = (178.0, ' Kevin', 'Roman', 'M')
row = (58.0, ' Christopher', 'Buckley', 'M')
row = (111.0, ' Robert', 'Adams', 'M')
row = (125.0, ' Kevin', 'Shumate', 'M')
row = (26.0, ' Kyle', 'Shepler', 'M')
row = (43.0, ' Zachary', 'Haney', 'M')
row = (273.0, ' Kenneth', 'Lemmon', 'M')
row = (155.0, ' Erik', 'Strong', 'M')
row = (138.0, ' Aaron', 'Dejoy', 'M')
row = (78.0, ' Bryan', 'Haining', 'M')
row = (193.0, ' Mason', 'Batchler', 'M')
row = (109.0, ' Austin', 'Mottaghi', 'M')
row = (61.0, ' Cory', 'Seabolt', 'M')
row = (99.0, ' Jesse', 'Blacklock', 'M')
row = (172.0, ' Matthew', 'Dougan', 'M')
row = (27.0, ' Shawn', 'Foster', 'M')
row = (203.0, ' Trenton', 'Goter', 'M')
row = (261.0, ' Jordan', 'Tapp', 'M')
row = (83.0, ' Adam', 'Stubblefield', 'M')
row = (205.0, ' Austin', 'Jones', 'M')
row = (68.0, ' Nicholas', 'Mckinney', 'M')
row = (48.0, ' Kristian', 'Wombaker', 'M')
row = (19.0, ' Devin', 'Tolstykh', 'M')

row = (4.0, ' Maxwell', 'Kotch', 'M')
row = (139.0, ' Damion', 'Holladay', 'M')
row = (222.0, ' Courtney', 'Shannahan', 'M')
row = (81.0, ' Carter', 'Stasinos', 'M')
row = (161.0, ' Cullen', 'Brewton', 'M')
row = (103.0, ' Elias', 'Scharnikow', 'M')
row = (98.0, ' Cody', 'Negley', 'M')
row = (262.0, ' Luke', 'Van Cleave', 'M')
row = (13.0, ' Elijah', 'Hogan', 'M')
row = (143.0, ' Joshua', 'Spatafora', 'M')
row = (159.0, ' Tyler', 'Helmuth', 'M')
row = (8.0, ' Sean', 'Hasenack', 'M')
row = (237.0, ' Joshua', 'Noel', 'M')
row = (201.0, ' Levi', 'Mcpeak', 'M')
row = (62.0, ' Cody', 'Chermak', 'M')
row = (44.0, ' Edward', 'Swendson', 'M')
row = (47.0, ' Keenan', 'Willy', 'M')
row = (93.0, ' Dylan', 'Hartwig', 'M')
row = (188.0, ' Brandon', 'Volk', 'M')
row = (50.0, ' Zacary', 'Story', 'M')
row = (137.0, ' Jerod', 'Ross', 'M')
row = (257.0, ' Nicholas', 'Roth', 'M')
row = (239.0, ' Evan', 'Fossett', 'M')
row = (63.0, ' Francis', 'Hupp', 'M')
row = (64.0, ' Noah', 'Berzina', 'M')
row = (223.0, ' Edward', 'Doniger', 'M')
row = (204.0, ' Luke', 'Taylor', 'M')
row = (216.0, ' Ryan', 'Weinstein', 'M')
row = (167.0, ' Jameson', 'Kinmartin', 'M')
row = (38.0, ' Dustin', 'Mccarthy', 'M')
row = (29.0, ' Chance', 'Mcdonough', 'M')
row = (71.0, ' William', 'Listy', 'M')
row = (236.0, ' Skylar', 'Blake', 'M')
row = (90.0, ' Harrison', 'Olkowski', 'M')
row = (248.0, ' Wyatt', 'Yeros', 'M')
row = (108.0, ' Kevin', 'Clifton', 'M')
row = (46.0, ' Clayton', 'Rehm', 'M')
row = (73.0, ' Eric', 'Abeyta', 'M')
row = (135.0, ' Daniel', 'Thelen-Wade', 'M')
row = (246.0, ' Preston', 'Sprouse', 'M')
row = (55.0, ' Dmitriy', 'Gage', 'M')
row = (218.0, ' Skyler', 'Norris', 'M')
row = (269.0, ' Tyler', 'Raymond', 'M')
row = (228.0, ' Dylan', 'Davis', 'M')

In [38]:
### Get the students table
students = pd.read_sql("SELECT * FROM Students;",conn)
df.head()

NameError: name 'df' is not defined

# Questions
 
 
## Q1. Count the number of students on each department

## Q2. How many students have each course of the English department and the total number of students in the department?

## Q3. How many small (<22 students) and large (22+ students) classrooms are needed for the Science department?

## Q4. A feminist student claims that there are more male than female in the College. Justify if the argument is correct

## Q5. For which courses the percentage of male/female students is over 70%?

## Q6. For each department, how many students passed with a grades over 80?

## Q7. For each department, how many students passed with a grades under 60?

## Q8. Rate the teachers by their average student's grades (in descending order).

## Q9. Create a dataframe showing the courses, departments they are associated with, the teacher in each course, and the number of students enrolled in the course (for each course, department and teacher show the names).

## Q10. Create a dataframe showing the students, the number of courses they take, the average of the grades per class, and their overall average (for each student show the student name).