In [3]:
import pyodbc
import pandas as pd
import numpy as np

In [1]:
### In windows, Using a ODBC DNS (predefined connection name)
import pyodbc
conn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=DESKTOP-N6AVJGE\SQLEXPRESS;"
                      "Database=phyto_project;"
                      "Trusted_Connection=yes;")

In [4]:
### Get the students table
import pandas as pd
flntu2 = pd.read_sql("SELECT * FROM flntu2;",conn)
flntu2.head()

,d_stamp,t_stamp,chlorophyll_concentration,turbidity_units,dt_stamp
0,23/01/2018,11:40:10,0.1904,0.183,23/01/2018 11:40:10
1,23/01/2018,12:10:12,0.3808,0.2196,23/01/2018 12:10:12
2,23/01/2018,12:40:13,0.1309,0.2135,23/01/2018 12:40:13
3,23/01/2018,13:10:10,0.4165,0.1586,23/01/2018 13:10:10
4,23/01/2018,13:40:12,0.3808,0.183,23/01/2018 13:40:12